<%- include('partials/header') -%>


<div class="col-sm-12 col-md-10 bg-dark-subtle">
  <ul class="row list-unstyled" data-masonry='{"percentPosition": true }'>
    <% for(var i=0; i<posts.length; i++) {%>
    <li class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a class="d-flex align-items-stretch" href="/post/<%= posts[i]._id%>">
          <img class="card-img-top" src="<%= posts[i].image%>" height="400px" style="object-fit: contain;">
        </a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row justify-content-between">
              <p class="col-6"><%= posts[i].userName %></p>
              <p class="col-3 text-end"><%= posts[i].likes %> ♡</p>
            </div>
          </li>
          <div class="card-body">
            <h5 class="card-title"><%= posts[i].title %></h5>
            <p class="card-text"><%= posts[i].caption %></p>
          </div>
      </div>
    </li>
    <% } %>
  </ul>
</div>

<%- include('partials/footer') -%>